.header{
    /* border: 2px solid red; */
    padding: 1em 1em 100px;
    position: relative;
    z-index: 2;
    background-image: linear-gradient(to bottom,black 0% ,black 50%,rgba(0,0,0, .5)  85% ,transparent 100%);
    
}
a{
    text-decoration: none;
    color: var(--white);
}

.menu{
    /* border: 1px solid blue; */
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    justify-content: space-around;
}
.menu-item{
   padding: 15px;
   list-style: none;
   text-align: center;
}
